body{
    background-color: #ebe5e5;
}
div#area{
    font: normal 20pt impact;
    background-color: #ffffff;
    color: #000000;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    border-radius: 28px;
    
}